.titel-component{
    color: #042552;
    font-size: 2rem;
    font-weight: bold;
}
p{
    font-size: 1rem;
    color: #A9AAAF;
}
.next-step{
    background-color: #03295A;
    color: #D1DFF9;
    font-weight: 500;
    border: 0px;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
}
.prev-step{
    background-color: transparent;
    border: 0px;
    color: #A9AAAF;
    font-size: 1rem;
    text-decoration: none;
}