body{
    padding: 0%;
    margin: 0%;
    background-color: #EEF5FF;
    min-height: 100vh;
    background-attachment: fixed;
    font-family: 'Ubuntu';
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
    width: 80%;
}

@media(min-width: 375px) and (max-width:1140px){
    .form-container{
        grid-template-rows: 30% 70%;
        grid-template-columns: none;
        width: 100%;
        padding: 0px;
        background: none;
    }
}
